<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="/static/h-ui.admin/css/layui.css" media="all" />
    <![endif]-->
    <title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="http://49.235.39.168:99/sem?company_id=1" >首页</a> <span class="c-gray en">&gt;</span> 咨询管理 <span class="c-gray en">&gt;</span> 客户列表 <a id="sx" class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
   <!-- <<div class="text-c"> 日期范围：
        <input type="text" autocomplete="off" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss', maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:180px;">
        -
        <input type="text" autocomplete="off" onfocus="WdatePicker({ skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:180px;">


    </div>-->
    <input type="text" class="input-text" style="width:250px" placeholder="输入用户名称" id="love" name="">
    <button onclick="search()" type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="exportMember()" class="btn btn-primary radius">导出当前页信息</a></span></div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">客户列表</th>
        </tr>
        <tr class="text-c">
            <th width="40">NO</th>
            <th width="90">姓名</th>
            <th width="150">时间</th>
            <th width="90">行业</th>
            <th width="90">推荐App</th>
            <th width="90">实价</th>
            <th width="90">预算</th>
            <th width="150">咨询</th>
            <th width="90">手机号</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
    <div id="page">暂无数据</div>

</div>
<!--_footer 作为公共模版分离出去-->
<script src="/lib/layui.js"></script>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">

    function sx() {
        var sx = document.getElementById('sx');
        sx.click();
        sx.click();

    }
    function admin_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    function rechargerecord_look(title,url,w,h,obj){
        var member_id = $(obj).parent().prev().prev().html();

         var url1=url;
        location=url1+member_id;

    }

    var curr=1 ;
    var limit=10 ;
    var total ;
    var datemin ="";
    var datemax = "";
    var love = "";

    function search() {

        datemin = $("#datemin").val();
        datemax = $("#datemax").val();
        love = $("#love").val();
        getInfo();
        toPage();

    }




    $(document).ready(function () {
        datemin = null;
        datemax = null;
        love = null;
        getInfo();
        toPage();
    });



    function getInfo() {
        parent.openloading();
        $.ajax({
            type:"post",
            url:"/SlickUserController/getUserPager",
            dataType:"json",
            async:false,
            data:{
                "curr":curr,
                "limit":limit,
                "datemin":datemin,
                "datemax":datemax,
                "love":love
            },
            success:successFu

        })

    }

    function successFu(pager) {
        $("tbody").html("");

        curr = pager.curr;
        limit = pager.limit;
        total = pager.total;


        var text = "";
        var i=(curr-1)*limit+1;
        $.each(pager.data, function () {
            text += "<tr class=\"text-c\">";
            text += "<td>" + (i++) + "</td>";
            text += "<td>" + this.user_name+ "</td>";
            text += "<td>" + this.user_addtime+ "</td>";
           if(this.slickIndustry.industry_name==null){
                text += "<td>" + "其他行业"+ "</td>";
                text += "<td>" + "待上架"+ "</td>";
                text += "<td>" + "待上架"+ "</td>";
            }else{
                text += "<td>" + this.slickIndustry.industry_name+ "</td>";
                text += "<td>" + this.slickApp.app_name+ "</td>";
                text += "<td>" + this.slickApp.app_price+ "</td>";
            }
            text += "<td>" + this.user_budget+ "</td>";
            text += "<td>" + this.user_message+ "</td>";
            text += "<td>" + this.use_phone+ "</td>";
            text += "</tr>";
        })
        $("tbody").html(text);
        parent.closeloading();
        if (pager.total == 0) {
            $("tbody").html("<tr><td colspan='7' class='text-center'>暂无数据</td></tr>");
            return;
        }
    }
    function exportMember(){
        if(love!=null&&love!=""){
            location="/exportExcel/exportExcelCurrentPagerUser?curr="+curr+"&limit="+limit+"&datemin="+""+"&datemax="+""+"&love="+love;
        }else{
            location="/exportExcel/exportExcelCurrentPagerUser?curr="+curr+"&limit="+limit+"&datemin="+""+"&datemax="+""+"&love="+"";
        }

        
    }
    function toPage() {
        layui.use('laypage', function () {
            laypage = layui.laypage;
            laypage.render({
                count: total,
                elem: 'page',
                limits: [5,10, 25, 50, 100],
                first: '首页',
                last: '尾页',
                prev: '<em><<</em>',
                next: '<em>>></em>',
                layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                jump: function (data, first) {
                    curr = data.curr;
                    limit = data.limit;
                    if (!first) {
                        getInfo();
                    }
                }
            });
        })
    }
</script>
</body>
</html>