<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.mapper.SlickIndustryMapper">

    <select id="getSlickIndustryList" parameterType="long" resultType="SlickIndustry">
        select * from slick_industry where company_id=#{company_id};
    </select>

    <select id="getIndustryCount" resultType="int">
        SELECT COUNT(1) from  slick_industry a left join slick_company b on  a.company_id=b.company_id <include refid="where_getIndustryLists"/>
    </select>

    <resultMap id="Industry_Company" type="SlickIndustry">
        <id property="industry_id" column="industry_id"/>
        <result property="industry_name" column="industry_name"></result>
        <result property="industry_app_id" column="industry_app_id"></result>
        <result property="industry_introduce" column="industry_introduce"></result>
        <result property="industry_icon" column="industry_icon"></result>
        <result property="company_id" column="company_id"></result>
        <collection property="slickCompany" ofType="com.hz.pojo.SlickCompany">
            <id property="company_id" column="company_id"></id>
            <result property="company_name" column="company_name"/>
            <result property="company_title" column="company_title"/>
            <result property="company_hot_message" column="company_hot_message"/>
            <result property="company_hot_message2" column="company_hot_message2"/>
            <result property="copy_gufen" column="copy_gufen"/>
            <result property="company_image" column="company_image"/>
        </collection>
    </resultMap>
    <sql id="where_getIndustryLists">
        <where>
            <if test='love!=null and love!="" '   >
                b.company_name like concat('%',#{love},'%')
            </if>
        </where>
    </sql>
    <select id="getIndustryLists" resultMap="Industry_Company">
        SELECT * FROM slick_industry a left join slick_company b on a.company_id=b.company_id <include refid="where_getIndustryLists"/> ORDER BY a.company_id ASC LIMIT #{curr},#{limit}
    </select>

    <!--修改会员信息动态SQL-->
    <sql id="where_updateIndustry">
        <where>
            <if test="slickIndustry.industry_id!=null">
                industry_id=#{slickIndustry.industry_id}
            </if>
        </where>
    </sql>
  <!--  long industry_id;
    private String industry_name;
    private long industry_app_id;
    private String industry_introduce;
    private String industry_icon;
    private long company_id;-->
    <update id="updateIndustry" parameterType="slickIndustry">
        update slick_industry
        <set>
            <if test="slickIndustry.industry_name != null and slickIndustry.industry_name !='' ">industry_name=#{slickIndustry.industry_name },</if>
            <if test="slickIndustry.industry_introduce != null and slickIndustry.industry_introduce !='' ">industry_introduce=#{slickIndustry.industry_introduce },</if>
        </set>
        <include refid="where_updateIndustry"/>
    </update>

</mapper>